@charset "utf-8";

@media screen and (max-width: 480px) {
	h1 {
		font-size: 150% ;
	}

	h2 {
		font-size: 120%;
	}

	p {
		font-size: 90%;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #4478c1;	青空の色*/
	background-color: #7da4cd;
	font-family: Meiryo;
}

strong {
	color: #ff0000;		/*赤色*/
}

.start_bar {
	/*background-color: #30e852;*/	/*lineの色*/
	/*text-align: center;*/
	/*background-color: #eeeeee;*/
	background-color: #ffffff;
	position: relative;
	min-height: 2.5em;
	padding: 2%;
}

.title h1 {
	color: #ffcc99;
}

.login {
  	padding: 0.5em 1em;
  	text-decoration: none;
  	background-color: #668ad8;/*ボタン色*/
  	color: #ffffff;
  	border-radius: 5px;
	position: absolute;
	top: 30%;
	right: 1%;
}

.description {
	background-color: #ffffff;
	text-align: center;
	margin: 2%;
}

.comment_title {
	padding: 1%;
	background-color: #ffffff;
}

.comment_start_bar {
	display: inline;
	min-height: 2.5em;
	background-color: #ffffff;
}

.comment_title:before {
	font-family: "Font Awesome 5 Free";
	content: "\f086";
	font-weight: 900;
	/*padding-left: 2%;*/
	padding-right: 1%;
	color: #30e852; /*アイコン色*/
	background-color: #ffffff;
}

.update {
	margin-left: 1em;
	padding: 0.5em 1em;
  	text-decoration: none;
  	background-color: #668ad8;/*ボタン色*/
  	color: #ffffff;
  	border-radius: 5px;
}

.status {
	color: #ffffff;
	padding-left: 1%;
}

.comment {
	background-color: #30e852;
	position: relative;
  	display: inline-block;
  	margin: 1.5em 0 1.5em 15px;
  	padding: 7px 10px;
  	min-width: 120px;
  	max-width: 90%;
	border: 0;
  	/*border: solid 3px #555;*/
	border-radius: 10px;
  	box-sizing: border-box;
}

.comment:before {
	background-color: #7da4cd;
	color: #30e852;
	content: "";
  	position: absolute;
  	top: 50%;
  	left: -24px;
  	margin-top: -12px;
  	border: 12px solid transparent;
  	border-right: 12px solid #FFF;
  	z-index: 2;
}

.comment:after {
	/*background-color: #7da4cd;*/
	content: "";
  	position: absolute;
  	top: 50%;
  	left: -30px;
  	margin-top: -14px;
  	border: 14px solid transparent;
  	border-right: 14px solid #555;
  	z-index: 1;
}

.comment p {
	font-size: 100%;
	margin: 0;
  	padding: 0;
}
